.passage{
    text-indent: 3%;
    text-align: justify;
}
.phone{
    font-size: 30px;
    float: left;
}
.phone span{
    font-size: 30px;
    color: red;
}
.picture-aboutus{
    max-width: 200px;
}
.picture-lawinfo{
    max-width: 300px;
}
.nobotom-list{

}
ul.nobotom-list li{
    border-bottom: none;
}

.color-dark-black {
    color: #040627 !important;
}

.color-dark-red {
    color: #c90200 !important;
}

.color-dark-blue{
    color: #303c9d !important;
}

.color-dark-bl {
    color: #0a061d !important;
}

.color-white {
    color: #dcdcdc !important;
}

.color-background-black {
    background-color: #d5d5d5 !important;
}